.npm
.idea/
google-credentials.json
public/podcasts/*.mp3
public/podcasts/*.json
public/podcasts/*.png
tmp/*.mp3
tests
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
.env
.DS_Store